:root{
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 1px solid black;
    background-color: azure;
}

.logo {
    width: 100px;
    height: 100%;
}

.nav-items >ul {
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
}

.nav-items >ul >li {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.nav-items >ul> li> a {
    text-decoration: none;
    color: rgb(132, 118, 118);
}

.body-container {
    height: auto;
    margin: 0px 40px;
    /* background-color: azure; */
}

.rest-card {
    padding: 5px;
    width: 200px;
    /* height: 300px; */
    /* border: 1px solid black;
    border-radius: 10px 10px 0px 0px; */
    margin: 10px;
}

.rest-container >a {
    text-decoration: none;
    color:#111111;
}

.rest-card:hover {
    cursor: pointer;
    /* border: 1px solid rgb(128, 125, 125); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border-radius: 10px 10px 0px 0px; */
}

.rest-image {
    width: 100%;
    height: 200px;
    /* padding:5px; */
    /* border-radius: 10px 10px 0px 0px; */
}

.rest-container {
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
}

.searchBar-container {
    display: flex;  
    padding: 20px 0px;
    margin-left: 55px;
    gap: 300px;
}

.detail-box {
    display: flex;
    justify-content: space-between;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    height: 400px;
    width: 200px;
    background-color: #f0f0f0;
}

.restDetails-container {
    width: 500px;
    margin: 50px 150px;
}

.menu-items {
    size: 10px;
}